*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.page{
    border-radius: 25px;
    background-color: rgb(255, 217, 240);
    border-style: solid;
    border-color: rgb(32, 32, 32);
    border-width: 5px;
    margin: 5%;
}
.github-container{
    display: flex;
    justify-content: center;
    min-width: 80%;
    margin-bottom: 0%;
}
.itchio-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
p {
    text-align: center;
    font-size: 17px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}